:root {
    --header-and-footer-background: #202020;
    --brand-text-color: #ef233c;
    --btn-color: #d90429;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

.App {
    position: relative;
    min-height: 100vh;
    background-color: var(--header-and-footer-background);
}

.main {
    min-height: calc(100vh - 4em);
}

.favourite-btn {
    width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    font-size: 13px;
}