:root {
    --header-and-footer-background: #202020;
    --brand-text-color: #ef233c;
    --btn-color: #d90429;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

.App {
    position: relative;
    min-height: 100vh;
    background-color: var(--header-and-footer-background);
}

.main {
    min-height: calc(100vh - 4em);
}