.row {
    margin: 0 50px;
    padding-bottom: 50px;
}

.card-title {
    min-height: 60px;
}

.img-container {
    height: 650px;
}

.card-img-top {
    object-fit: cover;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: var(--brand-text-color);
    font-weight: bold;
    color: white;
    border: none;
}

.btn:hover {
    color: black;
    background-color: var(--btn-color);
    border: none;
}