.container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.login-header {
    margin: 3rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-container {
    display: block;
}

.form-label {
    font-size: 1.2rem;
    display: block;
}

.form-input {
    width: 350px;
    height: 35px;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 5px;
    padding-left: 0.5rem;
}

.btn {
    margin-top: 2rem;
    width: 50%;
}

.swAlert {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}